
.heading-latest {
    display: inline-block;

    border-bottom: 5px solid $colour-primary;
    padding-bottom: 35px;
    margin-top: 40px;
    color: $colour-primary;
}

.articles-background {
    background: linear-gradient(to bottom, rgb(240, 240, 240) 0%, #FFFFFF 100%);
 }

article {
    margin-bottom: 30px;
}


.articles {
    padding-top: 50px;

    @include mq('s') {
        display: grid;
        grid-template-columns: 350px 30px 350px;    //30px gap
        justify-content: center;
        justify-items: center;
    }

    @include mq('m') {
        grid-template-columns: 450px 30px 450px;    //30px gap
    }

    @include mq('l') {
        grid-template-columns: 370px 30px 370px 30px 370px; //30px gap
    }
}

.article-figure {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;

    overflow: hidden;
    position: relative;

    a img {
        display: block;
        width: 100%;

        transition-duration: .2s;

        @include mq('m') {

            &:hover {
                transform: scale(1.1);
                opacity: 0.8;
            }

        }   
    }
}

.news-link {
    // position
    position: absolute;
    top: 7px;
    right: 0;
    
    // text
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;

    // styling
    color: white;
    background-color: $colour-design-primary;
    padding: 5px 10px;

    &:hover {
        text-decoration: underline;
    }
}

// CONTENT

.article-content {
    padding: 20px 30px 25px;

    h3  a {
        color: $colour-design-primary;  // COLOUR
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-size: $font-size-5;
        line-height: 1.6;
        color: $colour-text-light;
    }

    .button {
        @include btn-template(white, $colour-design-primary, white, $colour-design-secondary);  // COLOUR
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
    }
}

// AUTHOR

.article-author {
    display: flex;
    flex-basis: 10px auto;
    border-top: 1px solid #ccc;

    margin-top: 30px;
    padding-top: 35px;

     img {
         border-radius: 50%;
         margin-right: 20px;
     }
}

.article-author-name {
    color: $colour-text;
    margin-top: 5px;
    font-size: $font-size-4;
    font-weight: normal;
    line-height: 1.4;

    small {
        color: $colour-text-light;
        font-size: inherit;
    }
}

// Department colour styling

@mixin article-department($colour-main, $colour-second)
{
    figure a{
        background-color: $colour-main;
    }
    
    section {
    
        h3 a {
            color: $colour-main;
        }
    
        .button {
            background-color: $colour-main;
            &:hover {
                background-color: $colour-second;
            }
        }
    }
}

.article-design {
    @include article-department($colour-design-primary, $colour-design-secondary);

    @include mq('s') {
        grid-column: 1;
    }

}

.article-telecoms {
    @include article-department($colour-telecoms-primary, $colour-telecoms-secondary);

    @include mq('s') {
        grid-column: 3;
    }    
}

.article-marketing {
    @include article-department($colour-marketing-primary, $colour-marketing-secondary);

    @include mq('s') {
        display: none;
    }

    @include mq('l') {
        display: block;
        grid-column: 5;
    }
}