header {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);

    padding: 18px 0;

    @include mq('s') {
        grid-template-columns: 1fr auto;
    }

    @include mq('m') {
        grid-template-columns: 1fr repeat(3, auto);
        width: 900px;
        margin: 0 auto;
    }

    a {
        display: block;
    }
}

.main-logo {
    grid-column: 1;
    align-self: center;
}
.main-logo-image {

    width: 100%;
    max-width: 400px;
    margin-left: 20px;
}

.btn-support {
    grid-column: 2;
    align-self: center;

     @include btn-template(white, #4183d7, white, #2A6EC6);
    display: none;
    margin: 0 10px;
    padding: 18px 15px;

    @include mq('m')
    {
        display: inline-block;
    }
}

.btn-contact {
    grid-column: 3;
    align-self: center;

    @include btn-template(white, #84858f, white, #999AA2);
    display: none;
    margin: 0 10px;
    padding: 18px 15px;

    @include mq('m') {
        display: inline-block;
    }
}

.button-menu {
    grid-column: 4;
    align-self: center;

    //colour
    color: white;
    background-color: $colour-primary; 

    // // text
    font-size:  $font-size-5;
    text-transform:uppercase;
    line-height: 1.5;
    text-align: center;

    // // layout
    border: none;
    padding: 6px 14px;
    border-radius: 5%;
    margin: 0 10px;

    &:hover {
        background-color: $colour-secondary;
        cursor: pointer;
    }

    &:active {
        text-decoration: none;
    }
}


.icon-phone {
    grid-column: 2;
    color: $colour-primary;
    margin-left: 20px;
    margin-right: 30px;
    align-self: center;

    &:hover {
        color: $colour-secondary;
    }

    @include mq('s') {
        display: none;
    }
}