.navbar {
    position: relative;

    display: none;
    @include mq('m') {
        display: block;
    }

    ul {
        // remove bullet point styling
        padding-left: 0;    
        list-style: none;
        list-style-position: inside;
    
        background-color: $colour-primary;
        color: white;
    
        display: flex;
        justify-content: center;
        margin: 0;
    
        li:first-of-type {
            border-left: none;
        }
    
        li:last-of-type {
            border-right: none;
        }
    
        li {
            font-size: $font-size-2;
            text-transform: uppercase;
            color: white;
    
            border-right: 1px solid lighten($colour-primary, 10%);
            border-left: 1px solid lighten(black, 10%);
    
            a {
                display: block;
                padding: 16px 33px;
                color: white;
                text-align: center;
    
                @include mq('l') {
                    padding: 16px 52px;
                }
            }
    
            small {
                font-size: $font-size-6;
            }
        }
    }
}

@mixin nav-department($name, $colour) {
    
    i {
        color: $colour;
    }

    &:hover {
        background-color: $colour;
        border-right: 1px solid $colour;
        border-left: 1px solid $colour;
        cursor: pointer;

        i {
            color: white;
        }

        ~ .#{$name}-bar {
           display: block;
        }
    }

}



.nav-design {
    @include nav-department(design, $colour-design-primary);
}

.nav-support {
    @include nav-department(support, $colour-support-primary);
}

.nav-telecoms {
    @include nav-department(telecoms, $colour-telecoms-primary);
}

.nav-software {
    @include nav-department(software, $colour-software-primary);
}

.nav-marketing {
    @include nav-department(marketing, $colour-marketing-primary);
}

.nav-security {
    @include nav-department(security, $colour-security-primary);
}



.divider {
    display: inline-block;
    background-color: white;
    height: 1px;
    width: 6px;
}

@mixin department-bar($colour) {
    display: none;
    position: absolute;
    bottom: -46px;
    left: 0;
    width: 100%;

    background-color: darken($colour, 10%);

    &:hover {
        display: block;
    }

    ul {
        background-color: darken($colour, 10%);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-left: auto;
        margin-right:auto;

        @include mq('m') {
            width: 950px;
        }

        @include mq('l') {
            width: 1200px;
        }

        li {
            border: none;
            font-size: $font-size-4;

            @include mq('l') {
                font-size: $font-size-3;
            }
    
            a {
                padding: 15px 20px;
            }
        }
    }
}


.design-bar {
    @include department-bar($colour-design-primary);
}

.support-bar {
    @include department-bar($colour-support-primary);
}

.telecoms-bar {
    @include department-bar($colour-telecoms-primary);
}

.software-bar {
    @include department-bar($colour-software-primary);
}

.marketing-bar {
    @include department-bar($colour-marketing-primary);
}

.security-bar {
    @include department-bar($colour-security-primary);
}