
@mixin btn-template($text, $back, $text-hover, $back-hover) {
    color: $text;
    background-color: $back; 
    border: none;
    padding: 15px 18px;
    border-radius: 3%;
    font-size: 1.2em;
    text-transform:uppercase;
    line-height: 1.5;

    &:hover {
        $color: $text-hover;
        background-color: $back-hover;
        cursor: pointer;
    }        
}