
// Colours
$colour-text: #333645;

$colour-primary: #333645;
$colour-secondary: #262834;
$colour-background: #f7f7f7;

$colour-design-primary: #926fb1;
$colour-design-secondary: #79439a; // darker by 17% (roughly)
$colour-support-primary: #4183d7;
$colour-support-secondary: #286abd;
$colour-telecoms-primary: #d64541;
$colour-telecoms-secondary: #bc2c28;
$colour-software-primary: #67809f;
$colour-software-secondary: #526781;
$colour-marketing-primary: #2ecc71;
$colour-marketing-secondary: #25a25a;
$colour-security-primary: #f62459;
$colour-security-secondary: #de093f;

// Font
$font-main: 'Poppins', sans-serif;
$font-size-1: 2.25rem;
$font-size-2: 1.25rem;
$font-size-3: 1rem;
$font-size-4: 0.875rem;
$font-size-5: 0.8125rem;
$font-size-6: 0.625rem;
$font-size-button: 1rem;

$breakpoints: (
	's': 770px,
	'm': 992px,
	'l': 1260px,
);