
.main-logo {
    align-self: center;
    width: calc(100% - 15px);
    max-width: 400px;
}

.icon-phone {
    color: $colour-primary;
    align-self: center;
    justify-self: right;
}

.button-sidebar-menu {
    color: $colour-primary;
    align-self: center;
    justify-self: right;
}

.header-menu-button {
    color: white;
    background-color: $colour-primary; 
    border: none;
    padding: 5px 14px;
    border-radius: 5%;
    font-size:  .8em;
    text-transform:uppercase;
    line-height: 1.5;

    &:hover {
        background-color: $colour-secondary;
        cursor: pointer;
    }
}