* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}
header {
    margin: 5px 15px 15px 15px;   
    display: grid;
    grid-template-columns: 1fr 40px 90px;
    grid-template-rows: 90px;
}

body {
    background-color: white;
}

main {
    background-color: $colour-primary;
    height: 80vh;
}

h1 {
    color: $colour-primary;
    background-color: white;
}