.navbar {
    position: relative;
    background-color: $col-primary;

    color: white;

    border-bottom: 1px solid darken(white, 40%);

    display: none;
    @include mq('lg') {
        display: block;
    }
}


.nav-inner {
    // remove bullet point styling
    padding-left: 0;    
    list-style: none;
    list-style-position: inside;

    display: flex;
    margin: 0;

    border-left: 1px solid lighten($col-primary, 10%);
    border-right: 1px solid lighten(black, 10%);

    // first a last elements used for border styling
    // li:first-of-type {
    //     border-left: none;
    // }
    // li:last-of-type {
    //     border-right: none;
    // }



    >li {
        text-transform: uppercase;

        flex: 1;

        border-right: 1px solid lighten($col-primary, 10%);
        border-left: 1px solid lighten(black, 10%);

        >a {
            display: block;
            padding: 19px 0 18px;
            color: white;
            text-align: center;

            font-size: em(18px);

            // @include mq('l') {
            //     padding: 16px 52px;
            // }
        }
    }
}


.nav-item {
    &:hover {
        div {
            display: block;
        }
    }
}

.nav-submenu {
    display: none;
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;

    ul {
        display: flex;
        justify-content: flex-start;

        margin-left: auto;
        margin-right:auto;


        li {
            border: none;

            a {
                color: white;
                font-size: 13px;
                line-height: 45px;
            }

            &:not(:last-of-type) a::after {
                content: '-';
                padding-left: 20px;
            }

            &:not(:first-of-type) a {
                padding-left: 20px;
            }
        }
    }

    @each $dep, $col in $col-department {
		&__#{$dep} {

			background-color: darken($col, $col--dark-percent);
			border-color: darken($col, $col--dark-percent);
		}
	}
}

.nav-submenu__web {
    display: block;
}

// .nav-item__design {
//     i {
//         color: map-get($col-department, 'web');
//     }

//     &:hover {
//         background-color: map-get($col-department, 'web');
//         border-right: 1px solidmap-get($col-department, 'web');
//         border-left: 1px solid map-get($col-department, 'web');
//         cursor: pointer;

//         i {
//             color: white;
//         }

//         // ~ .#{$name}-bar {
//         //    display: block;
//         // }

//         .design-bar {
//             display: block;
//         }
//     }
// }

// .design-bar {
//     display: none;
//     position: absolute;
//     bottom: -46px;
//     left: 0;
//     width: 100%;

//     background-color: darken(map-get($col-department, 'web'), 10%);

//     &:hover {
//         display: block;
//     }

//     ul {
//         background-color: darken(map-get($col-department, 'web'), 10%);
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;

//         margin-left: auto;
//         margin-right:auto;

//         @include mq('lg') {
//             width: 950px;
//         }

//         @include mq('xl') {
//             width: 1200px;
//         }

//         li {
//             border: none;
//             //font-size: $font-size-4;

//             @include mq('xl') {
//                 //font-size: $font-size-3;
//             }
    
//             a {
//                 padding: 15px 20px;
//             }
//         }
//     }
// }

// // colours for nav sections
// @mixin nav-department($name, $colour) {
    
//     i {
//         color: $colour;
//     }

//     &:hover {
//         background-color: $colour;
//         border-right: 1px solid $colour;
//         border-left: 1px solid $colour;
//         cursor: pointer;

//         i {
//             color: white;
//         }

//         ~ .#{$name}-bar {
//            display: block;
//         }
//     }

// }

// .nav-design {
//     @include nav-department(design, $colour-design-primary);
// }

// .nav-support {
//     @include nav-department(support, $colour-support-primary);
// }

// .nav-telecoms {
//     @include nav-department(telecoms, $colour-telecoms-primary);
// }

// .nav-software {
//     @include nav-department(software, $colour-software-primary);
// }

// .nav-marketing {
//     @include nav-department(marketing, $colour-marketing-primary);
// }

// .nav-security {
//     @include nav-department(security, $colour-security-primary);
// }


// // dash between links
// .divider {
//     display: inline-block;
//     background-color: white;
//     height: 1px;
//     width: 6px;
// }

// @mixin department-bar($colour) {
//     display: none;
//     position: absolute;
//     bottom: -46px;
//     left: 0;
//     width: 100%;

//     background-color: darken($colour, 10%);

//     &:hover {
//         display: block;
//     }

//     ul {
//         background-color: darken($colour, 10%);
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;

//         margin-left: auto;
//         margin-right:auto;

//         @include mq('m') {
//             width: 950px;
//         }

//         @include mq('l') {
//             width: 1200px;
//         }

//         li {
//             border: none;
//             font-size: $font-size-4;

//             @include mq('l') {
//                 font-size: $font-size-3;
//             }
    
//             a {
//                 padding: 15px 20px;
//             }
//         }
//     }
// }


// .design-bar {
//     @include department-bar($colour-design-primary);
// }

// .support-bar {
//     @include department-bar($colour-support-primary);
// }

// .telecoms-bar {
//     @include department-bar($colour-telecoms-primary);
// }

// .software-bar {
//     @include department-bar($colour-software-primary);
// }

// .marketing-bar {
//     @include department-bar($colour-marketing-primary);
// }

// .security-bar {
//     @include department-bar($colour-security-primary);
// }